:root{

    --color-orange: hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-light-grey: hsl(217, 12%, 63%);
    --color-dark-blue: hsl(213, 19%, 18%);
    --color-very-dark-blue: hsl(216, 12%, 8%);

    --font-s1ze: 15px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

